# # # # # # # #
#   K i k o   #
# # # # # # # #

# Basic
name:               "Unai Gómez-Hernández"
title:              "Unai Gómez-Hernández personal page"
description:        "minimal personal page for Unai Gómez-Hernández"


# URL
url:                https://unaigomezhernandez.github.io
baseurl:
#baseurl:            "" #For Root Domain
permalink:          /:year/:month/:day/:title.html

# Markdown
markdown:           kramdown

# Navigation
nav:
  - name:           "home"
    href:           "/"
  - name:           "about"
    href:           "/about"
  - name:           "contact"
    href:           "/contact"
  - name:           "publications"
    href:           "/publications"

# Sass
sass:
  style:            :compressed

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
