# # # # # # # #
#   K i k o   #
# # # # # # # #

# Basic
name:               "Unai Gómez-Hernández"
title:              "Unai Gómez-Hernández personal page"
description:        "I am an academic working on politics, international relations, and European studies. My main research focus is the influence that radical right populist parties have on the EU’s external action towards China in the European Parliament. Other research interests include geoeconomics, the future Liberal International Order and illiberalism, and party politics."


# URL
url:                https://unaigomezhernandez.github.io
baseurl:
#baseurl:            "" #For Root Domain
permalink:          /:year/:month/:day/:title.html

# Markdown
markdown:           kramdown

# Navigation
nav:
  - name:           "home"
    href:           "/"
  - name:           "about"
    href:           "/about"
  - name:           "blog"
    href:           "/blog"

# Sass
sass:
  style:            :compressed

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
